Repository manishn1202/padrugsv7-qt0djh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @epa-architects, @epa-security-team, @epa-ai-team, @epa-clinical-team, @epa-backend-team, @epa-compliance-team, @epa-integration-team, @epa-frontend-team, @epa-ux-team, @epa-accessibility-team, @epa-devops-team, @epa-qa-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/config/kong.config.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/index.ts
  src/backend/auth-service/src/index.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/config/auth0.config.ts
  src/backend/auth-service/src/config/auth0.config.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/routes/auth.routes.ts
  src/backend/auth-service/src/routes/auth.routes.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/test/integration/auth.test.ts
  src/backend/auth-service/test/integration/auth.test.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/auth-service/test/unit/auth.test.ts
  src/backend/auth-service/test/unit/auth.test.ts
Owners: @epa-security-team, @epa-backend-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/Dockerfile
  src/backend/document-service/Dockerfile
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/pyproject.toml
  src/backend/document-service/pyproject.toml
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/requirements.txt
  src/backend/document-service/requirements.txt
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/main.py
  src/backend/document-service/src/main.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/config/settings.py
  src/backend/document-service/src/config/settings.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/controllers/document_controller.py
  src/backend/document-service/src/controllers/document_controller.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/models/document.py
  src/backend/document-service/src/models/document.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/services/document_service.py
  src/backend/document-service/src/services/document_service.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/src/utils/file_processor.py
  src/backend/document-service/src/utils/file_processor.py
Owners: @epa-backend-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/document-service/tests/test_document_service.py
  src/backend/document-service/tests/test_document_service.py
Owners: @epa-qa-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/Dockerfile
  src/backend/integration-service/Dockerfile
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/pom.xml
  src/backend/integration-service/pom.xml
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/IntegrationApplication.java
  src/backend/integration-service/src/main/java/com/epa/integration/IntegrationApplication.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/config/FhirConfig.java
  src/backend/integration-service/src/main/java/com/epa/integration/config/FhirConfig.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/controllers/IntegrationController.java
  src/backend/integration-service/src/main/java/com/epa/integration/controllers/IntegrationController.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/services/EhrIntegrationService.java
  src/backend/integration-service/src/main/java/com/epa/integration/services/EhrIntegrationService.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/services/InsuranceIntegrationService.java
  src/backend/integration-service/src/main/java/com/epa/integration/services/InsuranceIntegrationService.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/java/com/epa/integration/services/PharmacyIntegrationService.java
  src/backend/integration-service/src/main/java/com/epa/integration/services/PharmacyIntegrationService.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/main/resources/application.yml
  src/backend/integration-service/src/main/resources/application.yml
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/integration-service/src/test/java/com/epa/integration/IntegrationServiceTest.java
  src/backend/integration-service/src/test/java/com/epa/integration/IntegrationServiceTest.java
Owners: @epa-backend-team, @epa-integration-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/ai-service-deployment.yaml
  src/backend/k8s/ai-service-deployment.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/auth-service-deployment.yaml
  src/backend/k8s/auth-service-deployment.yaml
Owners: @epa-architects, @epa-security-team

.github/CODEOWNERS:

# Enhanced Prior Authorization System CODEOWNERS
# This file defines code ownership and required reviewers for different components
# Last matching pattern takes precedence
# Format: pattern owner1 owner2 ...

# Default owners for any unmatched files - requires architect and security review
* @epa-architects @epa-security-team

# AI Service - requires AI expertise, security review, and clinical validation
src/backend/ai-service/** @epa-ai-team @epa-security-team @epa-clinical-team

# Authentication Service - requires security and compliance review
src/backend/auth-service/** @epa-security-team @epa-backend-team @epa-compliance-team

# Core Workflow Service - requires backend, clinical, and security expertise
src/backend/workflow-service/** @epa-backend-team @epa-clinical-team @epa-security-team

# Document Service - requires security review and HIPAA compliance validation
src/backend/document-service/** @epa-backend-team @epa-security-team @epa-compliance-team

# Healthcare Integration Service - requires integration expertise and security review
src/backend/integration-service/** @epa-backend-team @epa-integration-team @epa-security-team

# Frontend Components - requires UI/UX review and accessibility compliance
src/web/** @epa-frontend-team @epa-ux-team @epa-accessibility-team

# Infrastructure Configurations - requires DevOps, security, and compliance review
infrastructure/** @epa-devops-team @epa-security-team @epa-compliance-team

# CI/CD Workflows - requires DevOps and security validation
.github/workflows/** @epa-devops-team @epa-security-team

# Backend Tests - requires QA and security review
src/backend/**/tests/** @epa-qa-team @epa-security-team

# Frontend Tests - requires QA and accessibility review
src/web/**/tests/** @epa-qa-team @epa-accessibility-team
