Repository manishn1202/padrugsv7-qt0djh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @epa-architects, @epa-security-team, @epa-ai-team, @epa-clinical-team, @epa-backend-team, @epa-compliance-team, @epa-integration-team, @epa-frontend-team, @epa-ux-team, @epa-accessibility-team, @epa-devops-team, @epa-qa-team

Add public-samples/padrugsv7-qt0djh/.github/dependabot.yml
  .github/dependabot.yml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @epa-devops-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @epa-devops-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @epa-devops-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/ai-service/Chart.yaml
  infrastructure/helm/ai-service/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/ai-service/values.yaml
  infrastructure/helm/ai-service/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/api-gateway/Chart.yaml
  infrastructure/helm/api-gateway/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/api-gateway/values.yaml
  infrastructure/helm/api-gateway/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/auth-service/Chart.yaml
  infrastructure/helm/auth-service/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/auth-service/values.yaml
  infrastructure/helm/auth-service/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/document-service/Chart.yaml
  infrastructure/helm/document-service/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/document-service/values.yaml
  infrastructure/helm/document-service/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/integration-service/Chart.yaml
  infrastructure/helm/integration-service/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/integration-service/values.yaml
  infrastructure/helm/integration-service/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/web/Chart.yaml
  infrastructure/helm/web/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/web/values.yaml
  infrastructure/helm/web/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/workflow-service/Chart.yaml
  infrastructure/helm/workflow-service/Chart.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/helm/workflow-service/values.yaml
  infrastructure/helm/workflow-service/values.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/elk/logstash.conf
  infrastructure/monitoring/elk/logstash.conf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/grafana/datasources.yml
  infrastructure/monitoring/grafana/datasources.yml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/grafana/dashboards/business.json
  infrastructure/monitoring/grafana/dashboards/business.json
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/security/network-policies.yaml
  infrastructure/security/network-policies.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/security/pod-security-policies.yaml
  infrastructure/security/pod-security-policies.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/security/rbac.yaml
  infrastructure/security/rbac.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/security/service-accounts.yaml
  infrastructure/security/service-accounts.yaml
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

.github/CODEOWNERS:

# Enhanced Prior Authorization System CODEOWNERS
# This file defines code ownership and required reviewers for different components
# Last matching pattern takes precedence
# Format: pattern owner1 owner2 ...

# Default owners for any unmatched files - requires architect and security review
* @epa-architects @epa-security-team

# AI Service - requires AI expertise, security review, and clinical validation
src/backend/ai-service/** @epa-ai-team @epa-security-team @epa-clinical-team

# Authentication Service - requires security and compliance review
src/backend/auth-service/** @epa-security-team @epa-backend-team @epa-compliance-team

# Core Workflow Service - requires backend, clinical, and security expertise
src/backend/workflow-service/** @epa-backend-team @epa-clinical-team @epa-security-team

# Document Service - requires security review and HIPAA compliance validation
src/backend/document-service/** @epa-backend-team @epa-security-team @epa-compliance-team

# Healthcare Integration Service - requires integration expertise and security review
src/backend/integration-service/** @epa-backend-team @epa-integration-team @epa-security-team

# Frontend Components - requires UI/UX review and accessibility compliance
src/web/** @epa-frontend-team @epa-ux-team @epa-accessibility-team

# Infrastructure Configurations - requires DevOps, security, and compliance review
infrastructure/** @epa-devops-team @epa-security-team @epa-compliance-team

# CI/CD Workflows - requires DevOps and security validation
.github/workflows/** @epa-devops-team @epa-security-team

# Backend Tests - requires QA and security review
src/backend/**/tests/** @epa-qa-team @epa-security-team

# Frontend Tests - requires QA and accessibility review
src/web/**/tests/** @epa-qa-team @epa-accessibility-team
