Repository manishn1202/padrugsv7-qt0djh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @epa-architects, @epa-security-team, @epa-ai-team, @epa-clinical-team, @epa-backend-team, @epa-compliance-team, @epa-integration-team, @epa-frontend-team, @epa-ux-team, @epa-accessibility-team, @epa-devops-team, @epa-qa-team

.github/CODEOWNERS:

# Enhanced Prior Authorization System CODEOWNERS
# This file defines code ownership and required reviewers for different components
# Last matching pattern takes precedence
# Format: pattern owner1 owner2 ...

# Default owners for any unmatched files - requires architect and security review
* @epa-architects @epa-security-team

# AI Service - requires AI expertise, security review, and clinical validation
src/backend/ai-service/** @epa-ai-team @epa-security-team @epa-clinical-team

# Authentication Service - requires security and compliance review
src/backend/auth-service/** @epa-security-team @epa-backend-team @epa-compliance-team

# Core Workflow Service - requires backend, clinical, and security expertise
src/backend/workflow-service/** @epa-backend-team @epa-clinical-team @epa-security-team

# Document Service - requires security review and HIPAA compliance validation
src/backend/document-service/** @epa-backend-team @epa-security-team @epa-compliance-team

# Healthcare Integration Service - requires integration expertise and security review
src/backend/integration-service/** @epa-backend-team @epa-integration-team @epa-security-team

# Frontend Components - requires UI/UX review and accessibility compliance
src/web/** @epa-frontend-team @epa-ux-team @epa-accessibility-team

# Infrastructure Configurations - requires DevOps, security, and compliance review
infrastructure/** @epa-devops-team @epa-security-team @epa-compliance-team

# CI/CD Workflows - requires DevOps and security validation
.github/workflows/** @epa-devops-team @epa-security-team

# Backend Tests - requires QA and security review
src/backend/**/tests/** @epa-qa-team @epa-security-team

# Frontend Tests - requires QA and accessibility review
src/web/**/tests/** @epa-qa-team @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/document-service-deployment.yaml
  src/backend/k8s/document-service-deployment.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/integration-service-deployment.yaml
  src/backend/k8s/integration-service-deployment.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/k8s/workflow-service-deployment.yaml
  src/backend/k8s/workflow-service-deployment.yaml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/proto/analysis.proto
  src/backend/shared/proto/analysis.proto
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/proto/authorization.proto
  src/backend/shared/proto/authorization.proto
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/proto/document.proto
  src/backend/shared/proto/document.proto
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/schemas/authorization.schema.json
  src/backend/shared/schemas/authorization.schema.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/schemas/clinical-criteria.schema.json
  src/backend/shared/schemas/clinical-criteria.schema.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/shared/schemas/document.schema.json
  src/backend/shared/schemas/document.schema.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/Dockerfile
  src/backend/workflow-service/Dockerfile
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/pom.xml
  src/backend/workflow-service/pom.xml
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/WorkflowApplication.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/WorkflowApplication.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/config/DroolsConfig.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/config/DroolsConfig.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/controllers/AuthorizationController.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/controllers/AuthorizationController.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/models/Authorization.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/models/Authorization.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/repositories/AuthorizationRepository.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/repositories/AuthorizationRepository.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/java/com/epa/workflow/services/WorkflowService.java
  src/backend/workflow-service/src/main/java/com/epa/workflow/services/WorkflowService.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/resources/application.yml
  src/backend/workflow-service/src/main/resources/application.yml
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/main/resources/rules/clinical-criteria.drl
  src/backend/workflow-service/src/main/resources/rules/clinical-criteria.drl
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/workflow-service/src/test/java/com/epa/workflow/WorkflowServiceTest.java
  src/backend/workflow-service/src/test/java/com/epa/workflow/WorkflowServiceTest.java
Owners: @epa-backend-team, @epa-clinical-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/web/.dockerignore
  src/web/.dockerignore
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/.env.example
  src/web/.env.example
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/.prettierrc
  src/web/.prettierrc
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/Dockerfile
  src/web/Dockerfile
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/README.md
  src/web/README.md
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/index.html
  src/web/index.html
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/package.json
  src/web/package.json
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/api/analytics.api.ts
  src/web/src/api/analytics.api.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/api/authorization.api.ts
  src/web/src/api/authorization.api.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team

Add public-samples/padrugsv7-qt0djh/src/web/src/api/document.api.ts
  src/web/src/api/document.api.ts
Owners: @epa-frontend-team, @epa-ux-team, @epa-accessibility-team
