Repository manishn1202/padrugsv7-qt0djh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @epa-architects, @epa-security-team, @epa-ai-team, @epa-clinical-team, @epa-backend-team, @epa-compliance-team, @epa-integration-team, @epa-frontend-team, @epa-ux-team, @epa-accessibility-team, @epa-devops-team, @epa-qa-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/environments/dr/main.tf
  infrastructure/terraform/environments/dr/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/documentdb/main.tf
  infrastructure/terraform/modules/documentdb/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/documentdb/variables.tf
  infrastructure/terraform/modules/documentdb/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @epa-devops-team, @epa-security-team, @epa-compliance-team

Add public-samples/padrugsv7-qt0djh/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/.env.example
  src/backend/.env.example
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/README.md
  src/backend/README.md
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/package.json
  src/backend/package.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/Dockerfile
  src/backend/ai-service/Dockerfile
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/pyproject.toml
  src/backend/ai-service/pyproject.toml
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/requirements.txt
  src/backend/ai-service/requirements.txt
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/main.py
  src/backend/ai-service/src/main.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/config/model_config.py
  src/backend/ai-service/src/config/model_config.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/controllers/analysis_controller.py
  src/backend/ai-service/src/controllers/analysis_controller.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/models/clinical_model.py
  src/backend/ai-service/src/models/clinical_model.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/services/document_analyzer.py
  src/backend/ai-service/src/services/document_analyzer.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/services/gpt_service.py
  src/backend/ai-service/src/services/gpt_service.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/src/utils/text_processor.py
  src/backend/ai-service/src/utils/text_processor.py
Owners: @epa-ai-team, @epa-security-team, @epa-clinical-team

Add public-samples/padrugsv7-qt0djh/src/backend/ai-service/tests/test_ai_service.py
  src/backend/ai-service/tests/test_ai_service.py
Owners: @epa-qa-team, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @epa-architects, @epa-security-team

Add public-samples/padrugsv7-qt0djh/src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/index.ts
Owners: @epa-architects, @epa-security-team

.github/CODEOWNERS:

# Enhanced Prior Authorization System CODEOWNERS
# This file defines code ownership and required reviewers for different components
# Last matching pattern takes precedence
# Format: pattern owner1 owner2 ...

# Default owners for any unmatched files - requires architect and security review
* @epa-architects @epa-security-team

# AI Service - requires AI expertise, security review, and clinical validation
src/backend/ai-service/** @epa-ai-team @epa-security-team @epa-clinical-team

# Authentication Service - requires security and compliance review
src/backend/auth-service/** @epa-security-team @epa-backend-team @epa-compliance-team

# Core Workflow Service - requires backend, clinical, and security expertise
src/backend/workflow-service/** @epa-backend-team @epa-clinical-team @epa-security-team

# Document Service - requires security review and HIPAA compliance validation
src/backend/document-service/** @epa-backend-team @epa-security-team @epa-compliance-team

# Healthcare Integration Service - requires integration expertise and security review
src/backend/integration-service/** @epa-backend-team @epa-integration-team @epa-security-team

# Frontend Components - requires UI/UX review and accessibility compliance
src/web/** @epa-frontend-team @epa-ux-team @epa-accessibility-team

# Infrastructure Configurations - requires DevOps, security, and compliance review
infrastructure/** @epa-devops-team @epa-security-team @epa-compliance-team

# CI/CD Workflows - requires DevOps and security validation
.github/workflows/** @epa-devops-team @epa-security-team

# Backend Tests - requires QA and security review
src/backend/**/tests/** @epa-qa-team @epa-security-team

# Frontend Tests - requires QA and accessibility review
src/web/**/tests/** @epa-qa-team @epa-accessibility-team
